doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Kratz ÖV
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="main.css")

  body
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/moment/moment.js')
    script(src='scripts/main.js')
